@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    background-color: #313b41;
}
.article {
    width: 1000px;
    height: 50%;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    gap: 1rem;
}
.project-section {
    border: 1px solid black;
    padding: 1.5rem;
    /* height: 40vh; */
    color: white;
    background-color: #1d2326;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    flex: 1;
}

.search-bar-div {
    display: flex;
    background-color: #313b41;
    color: white;
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: none;
    /* margin-bottom: 4rem; */
}
#search-bar {
    background-color: #313b41;
    color: white;
    border: none;
    font-size: 1.6em;
}
#search-bar::placeholder {
    color: white;
}
#search-bar:focus {
    outline: none;
}

.project-lists {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1;
    background-color: #313b41;
    border-radius: 0.5rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
    list-style: none;
}
.project-lists-list {
    /* text-align: center; */
    display: flex;
    text-align: center;
    justify-content: space-around;
    font-size: 1.5em;

    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid #1d2326;
    cursor: pointer;
    /* background-color: #fff; */
    /* flex-direction: column; */
}
.project-lists-list:hover {
    transform: scale(1.01);
}
.text {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-field {
    border: 0.3rem solid #1d2326;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-wrap: wrap;
}
.uni-input {
    width: 100%;
    font-size: 1.7em;
    padding: 0.4rem;
    margin-bottom: 0.3rem;
    border-radius: 0.5rem;
    border: none;
}
.uni-input:focus {
    outline: none;
}
.input-field-btn {
    width: 100%;
}
.uni-btn {
    width: 49%;
    font-size: 1.3em;
    padding: 0.3rem;
    border-radius: 0.5rem;
    /* border: 1px solid #436170; */
    cursor: pointer;
    background-color: #313b41;
    color: white;
}
.confirm-btn:hover,
.cancel-btn:hover {
    border: 0.2rem solid #1d2326;
}

.edit-folder,
.delete-folder {
    padding: 0.3rem;
    border-radius: 0.5rem;
}
.edit-folder:hover,
.delete-folder:hover {
    background-color: #1d2326;
    /* padding: 0.5rem; */
}

/* Add folder section */

.add-project {
    /* padding: 0.5rem; */
    width: 100%;
}
.add-btn {
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    background-color: #313b41;
    color: white;
}
.add-btn:hover {
    /* background-color: #fff; */
    transform: scale(1.02);
}
.btn-text {
    font-size: 1.2em;
}

/* ===================== Note Card section ========================   */

.notes-section {
    /* border: 0.5rem solid #; */
    background-color: #1d2326;
    color: white;
    padding: 1.5rem;
    flex: 2;
}
.note-heading {
    margin-bottom: 1rem;
}
.note-header {
    font-size: 2.5em;
}
.add-notes {
    width: 100%;
}
.add-notes-btn {
    margin-bottom: 1.5rem;
}

/*  note card */
.note-cards {
    display: flex;
    flex-direction: column;
    height: 500px;
    gap: 1.5rem;
    padding: 0 0.4rem;
}
.note-card {
    background-color: #313b41;
    padding: 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
}
.note-card:hover {
    transform: scale(1.02);
}
.note-card h3 {
    font-size: 1.6em;
    margin-bottom: 0.3rem;
}
.note-card h2 {
    font-size: 2em;
    margin-bottom: 0.3rem;
}
.note-card p {
    font-size: 1.2em;
    margin-bottom: 0.8rem;
}

/*  ===================== display note section =================== */

.display-note-section {
    flex: 3;
    background-color: #1d2326;
    color: white;
    padding: 1.5rem;
}
.note-title {
    margin-bottom: 1rem;
    font-size: 2.7em;
}
.display-note-p {
    font-size: 1.5em;
    margin-bottom: 0.5rem;
}
.note-text,
.note-edit-text {
    max-width: 100%;
    width: 375px;
    height: 360px;
    font-size: 1.7em;
    padding: 0.6rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #313b41;
    color: white;
    outline: none;
    resize: none;
}
.display-btns {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    background-color: #313b41;
    padding: 1rem;
    border-radius: 0.5rem;
}
.display-btns button {
    width: 49%;
    font-size: 1.3em;
    padding: 0.5rem;
    border-radius: 0.5rem;
    /* border: 1px solid #436170; */
    cursor: pointer;
    background-color: #313b41;
    color: white;
}
.display-btns button:hover {
    border: 0.2rem solid #1d2326;
}

.display-note-container {
    font-size: 1.8em;
    line-height: 1.1em;
    letter-spacing: 0.06rem;
    background-color: #313b41;
    padding: 1rem;
    border-radius: 0.5rem;
}

::placeholder {
    color: white;
}
.tags-section {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.tags-section p {
    font-size: 1.5rem;
}

.tag-anchors {
    display: flex;
    gap: 0.7rem;
    width: 60%;
    padding: 0.3rem;
}
.tags div {
    display: flex;
    gap: 0.2rem;
    width: 215px;
    padding: 0.4rem 0;
}

.tags div a,
.note-tags-btn-div a {
    font-size: 1.4em;
    font-weight: bold;
    /* font-style: ; */
    border: none;
    padding: 0.4rem;
    border-radius: 0.5rem;
    background-color: #fff;
    color: #313b41;
}

.tag-anchors,
.tags div,
.note-tags-div div {
    overflow-y: hidden;
    overflow-x: scroll;
}

.note-tags-div {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 0.4rem;
}
.note-tags-div div {
    display: flex;
    gap: 0.3rem;
    width: 320px;
    padding: 0.2rem;
}

.note-tags-btn-div a {
    font-size: 1em;
    padding: 0.3rem;
}

.tag-anchors::-webkit-scrollbar,
.tags div::-webkit-scrollbar,
.note-tags-div div::-webkit-scrollbar {
    /* width: 0.04rem; */
    height: 0.3rem;
    /* cursor: pointer; */
}
.tag-anchors::-webkit-scrollbar-thumb,
.tags div::-webkit-scrollbar-thumb,
.note-tags-div div::-webkit-scrollbar-thumb {
    background-color: #313b41;
    border-radius: 0 0.5rem 0.5rem 0;
    cursor: pointer;
}

.tag-anchors::-webkit-scrollbar-thumb:hover,
.tags div::-webkit-scrollbar-thumb:hover,
.note-tags-div div::-webkit-scrollbar-thumb:hover {
    background-color: #fff;
}

.tag-input-field {
    background-color: #313b41;
    padding: 0.4rem;
    border-radius: 0.5rem;
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.tag-input {
    width: 50%;
    padding: 0.3rem;
    font-size: 1.4em;
    border: none;
    border-radius: 0.5rem;
    background-color: #313b41;
    color: white;
}
.tag-input:focus {
    outline: none;
}
.tag-btns {
    display: flex;
    gap: 0.3rem;
}
.tag-btn {
    color: white;
    background-color: #313b41;
    border-radius: 0.5rem;
    cursor: pointer;
}

.tag-btn:hover {
    border: solid 2px #1d2326;
}

.tag {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    background-color: #313b41;
    padding: 0.5rem;
    border-radius: 0.5rem;
    /* transition: 250ms; */
}

.tag:hover {
    transform: scale(1.1);
}
.add-tag-btn {
    font-size: 1.1em;
    display: flex;
    align-items: center;
    border: none;
    padding: 0.3rem;
    border-radius: 0.5rem;
    color: white;
    background-color: #313b41;
    cursor: pointer;
}
.add-tag-btn:hover {
    transform: scale(1.04);
}

.div-title {
    background-color: #313b41;
    border-radius: 0.5rem;
    /* border: none; */
    margin-bottom: 1rem;
}
.title-input {
    padding: 0.5rem;
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    background-color: #313b41;
    color: white;
    font-size: 1.9em;
}

.title-input:focus {
    outline: none;
}
.note-tags-div {
    border-bottom: #ffffff 1px solid;
    margin-bottom: 0.8rem;
    padding-bottom: 0.5rem;
}
.note-title-info {
    margin-bottom: 0.6rem;
    text-align: center;
}

.note-textarea {
    font-size: 1.7em;
    height: 440px;
}

.note-info {
    margin-bottom: 1.5rem;
    height: 440px;
}
.display-note-btns {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.note-edit,
.note-delete {
    width: 48%;
    padding: 0.4rem 0.8rem;
    border-radius: 0.5rem;
    font-size: 0.8em;
    cursor: pointer;
    background-color: #313b41;
    color: #ffffff;
}

.note-edit:hover,
.note-delete:hover {
    border: solid #1d2326 2px;
}

.select-project {
    border: 0.2rem solid #ffffff;
}

/* scroll features */

.project-lists,
.note-cards,
.note-info {
    overflow-y: scroll;
    overflow-x: hidden;
    /* scroll-snap-type: y mandatory; */
    /* height: 440px; */
}

.project-lists div,
.note-cards div {
    /* scroll-snap-align: start; */
}
.project-lists::-webkit-scrollbar,
.note-cards::-webkit-scrollbar,
.note-info::-webkit-scrollbar {
    width: 0.4rem;
}
.project-lists::-webkit-scrollbar-track,
.note-cards::-webkit-scrollbar-track {
    /* background-color: #313b41; */
}

.note-info::-webkit-scrollbar-thumb {
    background-color: #313b41;
    border-radius: 0 0.5rem 0.5rem 0;
}
.project-lists::-webkit-scrollbar-thumb,
.note-cards::-webkit-scrollbar-thumb {
    background-color: #1d2326;
    border-radius: 0 0.5rem 0.5rem 0;
}

.project-lists::-webkit-scrollbar-thumb:hover,
.note-cards::-webkit-scrollbar-thumb:hover {
    background-color: #313b41;
    width: 1rem;
}

.disabled {
    background-color: #ccc;
    cursor: not-allowed;
    opacity: 0.6;
    color: #666;
    border: 1px solid #999;
}

.close-project-section {
    display: none;
}
.left-and-right-btns {
    display: none;
}
.go-back-btn-div {
    display: none;
}

/* mobile device */
@media (max-width: 345px) {
    /* .go-back-btn-div {
        display: block;
    } */
    .hidden {
        display: none;
    }

    .close-project-section {
        display: block;
        background-color: #1d2326;
        /* padding: 0.rem; */
        border-radius: 0.5rem;
        border: 3px solid #313b41;
    }
    .article {
        width: 345px;
    }

    #search-bar {
        width: 100%;
    }

    .project-section {
        min-width: 200px;
        /* display: none; */
        /* transform: translate(-100%); */
        /* display: none; */
    }

    .project-lists .project-lists-list {
        font-size: 1.4em;
        padding: 0.4rem;
        justify-content: space-between;
        align-items: center;
        /* border: 1px solid; */
    }

    .project-lists .project-lists-list span {
        padding: 0 0.4rem;
    }

    .notes-section {
        min-width: 270px;
        border-radius: 0.5rem;
        /* z-index: 1; */
        /* display: none; */
    }

    .left-and-right-btns {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.6rem;
    }
    .left-and-right-btns span {
        background-color: #313b41;
        padding: 0.4rem;
        border-radius: 0.5rem;
    }

    .note-heading {
        text-align: center;
    }

    .display-note-section {
        min-width: 300px;
    }
    .display-note-container {
        width: 100%;
    }
    .note-tags-div {
        /* width: 240px; */
        width: 90%;

        /* font-size: 1em; */
    }
    .note-tags-btn-div a {
        /* font-size: 1em; */
        padding: 0.2rem;
    }

    .display-note-btns {
        width: 100%;
    }
    .display-note-btns button {
        /* padding: 0 0.2rem; */
    }

    .tags-section {
        width: 100%;
        gap: 0.3rem;
    }
    .tag-anchors {
        width: 90%;
    }
    .tag-input-field {
        width: 155px;
        /* padding: 0.5rem; */
    }

    .div-title {
        /* width: 100%; */
        /* width: 200px; */
    }
    .tags-section,
    .div-title,
    .display-note,
    .display-btns {
        width: 97%;
        text-align: center;
    }
    .go-back-btn-div {
        display: block;
    }
    .display-left-btn {
        background-color: #1d2326;
        padding: 0.4rem;
        border-radius: 0.5rem;
    }

    .translate-left-notes {
        transform: translateX(-75%);
    }

    .translate-left {
        transform: translateX(-100%);
    }
    .translate-right {
        transform: translateX(100%);
    }
    .translate-left-display-notes {
        transform: translateX(-100%);
    }
}
